.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body {
    min-height: 100vh;
    background-color: #FFFDE3;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #FFFDE3;
    position: sticky;
    top: 0; z-index: 30;
    border-bottom-left-radius: 40px; border-bottom-right-radius: 40px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header .header-container {
    max-width: 1100px;
    margin-inline: auto;
    padding-inline: 1.5rem;
    padding-block: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.lg\:px-8 {
    @media (width >= 64rem /* 1024px */) {
        padding-inline: calc(var(--spacing) * 8) /* 2rem = 32px */;
    }
}

header .header-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

header img {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: contain;
}

h1 {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 2rem;
    font-weight: 900;
    color: #333;
}

.tracking-wide {
    --tw-tracking: var(--tracking-wide) /* 0.025em */;
    letter-spacing: var(--tracking-wide) /* 0.025em */;
}

@property --tw-tracking {
    syntax: "*";
    inherits: false;
}

nav-container {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
}

nav-container a {
    padding-inline: 0.75rem;
    padding-block: 0.25rem;
    border-radius: 9999px;
    background-color: #C21010;
    color: #333;
    text-decoration: none;
    font-weight: 500;
}

button {
    cursor: pointer;
    position: fixed;
    bottom: 1rem; right: 1rem;
    width: 2.5rem; height: 2.5rem;
    background-color: #E64848;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button img {
    width: 1.25rem; height: 1.25rem;
}

button:hover {
    background-color: #A01828;
}

footer {
    margin-top: 10rem;
}

footer .footer-content {
    background-color: #C21010;
    color: #333;
    font-family: 'Roboto', sans-serif;
    padding-top: 5rem;
    padding-left: 5rem;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 5px rgba(0, 0, 0, 0.1);
    position: sticky;
}

footer .footer-top {
    text-align: left;
    margin-bottom: 1rem;
    font-size: 20px;
    font-weight: bold;
}

 .social-icon {
    display: inline-flex;
    gap: 2rem;
    margin-bottom: 8rem;
    cursor: pointer;
}

.social-icon img {
    width: 40px;
    height: 40px;
}

.social-icon img:hover {
    transform: scale(1.1);
}

footer .footer-bottom {
    font-size: 16px;
    text-align: left;
}